.manage{
    font-size: .9rem;
    font-weight: 600;
    margin-top: 10px;
    a{
        color: #5e636d;
        text-decoration: none;
    }
}
.hr-dashboard{
    border: 1px solid #212b40;
    width: 75vw;
    margin-left: 0%;
}